@use 'variables' as *;

html,
body.page {
	height: 100%;
	font-family: $font;
	font-size: $baseFontSize;
	color: $baseFontColor;
	background: $background;
}

.page_locked {
	overflow: hidden;
}

.page__wrapper {
	width: 100%;

	&_locked {
		overflow-y: scroll;
	}
}
